footer{
    background-color: hsl(221, 81%, 94%);
}

.footer-container{
    width: 90%;
    margin: 60px auto 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    padding: 40px 0;
}

.footer-container__logo{
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(4, minmax(25px, 1fr));
    gap: 10px 5px;
}

.footer-container__logo>div:not(.btn-light){
    font-size: 18px;
    color: var(--titr-color);
}

.footer-container__logo>*:nth-child(1),
.footer-container__logo>*:nth-child(2){
    margin-bottom: 20px;
}

.footer-container__logo>*:nth-child(1){
    font-size: 30px;
    padding: 3px 7px!important;
}

.footer-container__logo>*:nth-child(2){
    grid-column: 2/-1;
    justify-self: start;
}

.footer-container__social{
    /*display: inline-block;*/
    padding: 7px 9px;
    cursor: pointer;
    border-radius: 10px;
    background-size: 400% 400%;
    background-color: var(--dark-btn);
    /*background: linear-gradient(130deg, #88bff6 30% , #ee7e7e);*/
    /*animation: footerAnimation 1s linear infinite;*/
}

.footer-container__social i{
    color: white;
}

/*@keyframes footerAnimation {*/
/*    25%{*/
/*        background-position: 0 100%;*/
/*    }*/
/*    50%{*/
/*        background-position: 100% 0;*/
/*    }*/
/*    75%{*/
/*        background-position: 0 100%;*/
/*    }*/
/*    100%{*/
/*        background-position: 0 0;*/
/*    }*/
/*}*/

.footer-container__link{
    display: grid;
    justify-items: start;
    align-items: center;
    gap: 10px;
}

.footer-container__link>a{
    position: relative;
    display: block;
}

.footer-container__link>a:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: indianred;
    transition: all 0.5s linear;
}

.footer-container__link>a:hover:after{
    width: 100%;
}

.goUp{
    display: flex;
    opacity: 0;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: lightseagreen;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in;
}

.goUp i{
    color: whitesmoke;
    font-size: 30px;
}

.goUp:hover i{
    animation: GoUp 0.7s linear;
}

@keyframes GoUp {
    40%{
        transform: translateY(-100%);
    }
    60%{
        transform: translateY(100%);
        opacity: 0;
    }
    80%{
        transform: translateY(100%);
        opacity: 0.8;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}