
/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "header.css";


*,
*:after,
*:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --light-btn: #3742fa;
    --dark-btn: rgb(16,39,80);
    --bg-color: rgb(232,241,255);
    --titr-color: rgb(53, 59, 71);
    --text-color: rgb(173, 173, 213);
}

body{
    background-color: ghostwhite;
}

html{
    font-size: 14px;
    font-family: "Roboto", serif;
    color: var(--text-color);
}

h1,h2,
h3,h4,
h5,h6{
    color: var(--titr-color);
}

h1{
    font-size: 52px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 20px;
}

a{
    color: inherit;
    text-decoration: none;
    list-style-type: none;
}

ul{
    list-style-type: none;
}

input:focus{
    outline: none;
}

input:focus::placeholder{
    opacity: 0;
}


.btn{
    padding: 7px 10px;
    border-radius: 3px;
    color: whitesmoke;
    font-size: 1rem;
    cursor: pointer;
}

.btn-light{
    background-color: var(--light-btn);
    border: 1px solid var(--light-btn);
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.btn-light:before{
    content: '';
    position: absolute;
    top: 0;
    left: -101%;
    width: 101%;
    height: 102%;
    background-color: #4ea0a3;
    z-index: -1;
    transition: 0.5s linear;
}

.btn-light:hover:before{
    left: 0;
    border-radius: 3px;
}

.btn-light:hover{
    border: none;
}

.btn-dark{
    background-color: var(--dark-btn);
    border: 1px solid var(--dark-btn);
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.btn-dark:before{
    content: '';
    position: absolute;
    top: 0;
    left: -101%;
    width: 101%;
    height: 102%;
    background-color: #206e6f;
    z-index: -1;
    transition: 0.5s linear;
}

.btn-dark:hover:before{
    left: 0;
    border-radius: 3px;
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}